<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>商品: {{with .Item}}{{.ItemId | html}}{{end}}のページ</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/primer/2.4.0/primer.css"> -->
    <link href='/css/css_family_Raleway500.css' rel='stylesheet'>
    <style>
        .app {
            color: #333;
        }
        .logo {
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="app">

    <!-- Navbar content -->
    <nav class="navbar navbar-light logo" style="background-color: #e3f2fd;">
        Amezon.com
    </nav>

    <!-- breadcrumb -->
    <ol class="breadcrumb" style="background-color: rgba(1, 1, 1, .05);">
        <li><a href="#">Home</a></li>
        <li><a href="#">Items</a></li>
        <li class="active">{{with .Item}}{{.ItemId | html}}{{end}}</li>
    </ol>

    <!-- container -->
    <div class="container">

        <!-- User Info -->
        {{with .Item}}
            <div class="row p-a">
                <div class="text-center col-xs-6">
                    <img src="/img/item/{{.ItemImage | html}}" class="img-rounded" width="100" height="100" alt="商品{{.ItemId | html}}のサムネイル画像">
                </div>
                <div class="col-xs-6">
                    <p>{{.ItemId | html}}</p>
                    <p class="m-b-0">{{.ItemSupplier | html}}</p>
                    <p class="m-b-0">売上個数: {{.ItemSoldQuantity | html}}</p>
                    <p>{{.ItemSalePrice | html}}円</p>
                    <p>
                        {{range .ItemTags}}
                            <span class="label label-pill label-warning">{{. | html}}</span>
                        {{end}}
                    </p>
                </div>
            </div>
            <div class="m-b-md">
                <button type="button" class="btn btn-success btn-lg btn-block">この商品を購入する</button>
            </div>
        {{end}}
    </div>

    <!-- Users -->
    {{if .HasRecommendUsers}}
        <div class="users">
            <h5 class="p-a">この商品をおすすめしているユーザー</h5>
            {{with .RecommendUsers}}
                {{range .}}
                    <div class="row p-l p-r m-r-0">
                        <div class="col-xs-3 p-a-0 p-b text-center">
                            <img src="/img/user/{{.UserImage | html}}" alt="商品{{.UserId | html}}のサムネイル画像" class="img-circle" width="48" height="48">
                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>
    {{end}}

    <!-- Recent Posts -->
    {{if .HasReviews}}
        <div class="posts">
            <h5 class="p-a">最近投稿されたレビュー</h5>
            {{with .Reviews}}
                {{range .}}
                    <div class="row p-l p-r">
                        <div class="col-xs-3 p-a-0 p-b text-center">
                            <img src="/img/item/{{.ItemImage | html}}" alt="商品{{.ItemId | html}}のサムネイル画像" class="img-rounded" width="48" height="48">
                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>
    {{end}}

    <nav class="navbar navbar-light bg-inverse">
        &copy; 2015 Amezon.com
    </nav>

</div>

</body>
</html>
